@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@1,300&display=swap');
body{
    background-image: url(https://cdn.pixabay.com/photo/2021/01/18/12/45/coffee-beans-5928036_960_720.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center center;
}
p {
    text-align: center;
font-family: 'karla';
font-size: 20px;
}
.title {
    font-family:'roboto';
    color: crimson;
    text-align: center;
}
#info{
    background-color:rgb(81, 90, 141);
    max-width:600px;
    padding:20px;
    height: 600px;
    font-family: 'Open Sans';
    margin: auto;
    
}
.biodata {
    display:block;
    margin: auto;
    border-radius: 8px;
    
    color: white;
}
.input{
background-color:whitesmoke;
border-radius: 6px ;
border: lightsalmon;
padding: 12px 12px 12px 12px;
box-sizing: border-box;
width:100%;
margin-top: 10px;
margin-bottom: 10px;
}
.submit {
    color: crimson;
    background-color:whitesmoke;
    font-weight: bold;
    text-transform: uppercase;
}
input[type=submit]{
    padding: 12px 12px 12px 12px; 
    width:100%;
margin-top: 10px;
margin-bottom: 10px;
background-color:whitesmoke;
border-radius: 6px ;
border: lightsalmon;
box-sizing: border-box;
}
#radio {
    width: 100%;
    margin-left: 0;
    vertical-align: left;
    margin-top:10px;
    color: white;

}
input[type=radio] {
    background-color: black;
    position: relative;
    margin: 10px;     
}
label {
    margin: 10px 0px 10px 0px;
}